{% extends 'base.html' %}
{% block content %}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-t-50 p-b-90">
			<span class="login100-form-title p-b-51">
				Welcome!! {{message }}<br>
			</span>

			<div class="container-login100-form-btn m-t-17">
				<p style="background-image: url('https://wallpaperaccess.com/full/2314950.jpg');"></p>
				<button class="login100-form-btn">
					<a class="login100-form-btn" href="/logout">Logout</a>
				</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}